/node_modules
/public/hot
/public/storage
/public/mapshape/
/public/district_village/
/public/shop_image/
/public/district_taluk/
/public/beat_path/
/public/subrd_beats/
/public/district_sst/
/public/beat_path_old/
/public/shop_image
/public
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
